/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;
.fa-ellipsis-h:before {
  content: "\f141";
}
/* Styles */
/*body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  //max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}*/

td {
	//padding: 12px;
}
/*
h2 {
	color: $vin-blue;
}*/
a.active {
  color: $vin-green;
}
/*

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }
*/
html {
  font-size: 12px;
}
//1059
* {
  box-sizing: border-box;
}
//1062
*:before, *:after {
  box-sizing: border-box;
}
//1070
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}
//1159
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
//1204
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
//1250
h1, .h1 {
  font-size: 36px;
}
//1274
p {
  margin: 0 0 10px;
}
//1594
.row {
  margin-left: -15px;
  margin-right: -15px;
}
//5162
.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}
//5166
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.list-group-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
//5378
.panel-heading {
  padding: 1.5rem 0 0.5rem 0;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-title, .section-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
//5624
.panel-primary > .panel-heading {
  color: #333333;
  background-color: transparent;
  border-color: #337ab7;
}
//8075
*, *:before, *:after {
  box-sizing: inherit;
}
//8080
body {
  overflow: hidden;
  color: #333333;
}
//8168
div, a, span, header, li, p, i, [ng-click] {
  outline: none;
}
//8201
body {
  font-size: 1.3rem;
}
p {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.23;
  font-family: 'Roboto', sans-serif;
  color: #333333;
}
//8211
body, p, h1, h2, h3, h4, h5, h6, blockquote, span, ul, ol, li {
  font-family: 'Roboto', sans-serif;
}
//8226
h1 {
  font-size: 4rem;
}
//8290
.ws-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
//8392
.ws-primary-action, .btn.ws-primary-action, button.ws-primary-action, a.ws-primary-action, .btn.a.ws-primary-action {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  transition: all 0.2s cubic-bezier(0.8, 0, 0.2, 1);
  font-size: 1.6rem;
  line-height: 4.3rem;
  list-style-type: none;
  border-radius: 0;
  text-transform: uppercase;
  border: 1px solid #009F0B;
  background: #009F0B;
  color: #FFFFFF;
  padding: 0 2rem;
  outline: none;
  text-decoration: none;
}
//8507
.ws-primary-action.disabled, .btn.ws-primary-action.disabled,
button.ws-primary-action.disabled, a.ws-primary-action.disabled,
.btn.a.ws-primary-action.disabled, .ws-primary-action[disabled],
.btn.ws-primary-action[disabled], button.ws-primary-action[disabled],
a.ws-primary-action[disabled], .btn.a.ws-primary-action[disabled] {
  border: 1px solid #ADADAD;
  background: #ADADAD;
  color: #FFFFFF;
  cursor: not-allowed;
  outline: none;
  text-decoration: none;
}

//9391
.ws-absolute-fill, .sg-absolute-fill, .ws-absolute-fill, .ws-absolute-fill.detail-view, .detail-view-container, .ws-master-detail-expander, .sg-absolute-fill, .ws-absolute-fill.detail-view, .detail-view-container, .ws-master-detail-expander {
  //position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
//9504
.ws-flex-container, .ws-search-result-container {
  display: -ms-flexbox;
  display: flex;
}
//9509
.ws-flex-columns, .ws-flex-column, .ws-search-result-icon, .ws-search-result-details {
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
//9527
.ws-flex-fill-even, .ws-search-result-details {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex: 1 1;
}
//9535
.ws-flex-auto-size, .ws-search-result-icon {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
//9592
.ws-flex-container, .ws-search-result-container {
  left: 5.2rem;
}
//11342
.btn[disabled], .btn.disabled {
  cursor: default;
}
//11940
.detail-view-header {
  background-color: #26648B;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.03), 0 6px 13px 0 rgba(0, 0, 0, 0.06);
}
//11953
.detail-view-title {
  font-size: 1.8rem;
  font-weight: 400;
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 4.3rem;
  margin: auto 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  word-break: break-all;
  word-wrap: break-word;
}
//11999
.panel .list-group.continuous-list-group, .ws-panel .list-group.continuous-list-group,
.panel .list-group:last-child, .ws-panel .list-group:last-child {
  margin: 0;
}
//12007
.panel .list-group-item, .ws-panel .list-group-item {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  line-height: 2rem;
}
//12044
.panel .panel-body.customer-summary-info, .ws-panel .panel-body.customer-summary-info {
  padding: 0;
}
//12235
.master-list {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.03), 0 6px 13px 0 rgba(0, 0, 0, 0.06);
  box-shadow: inset -1px 0 0 0 #DDDDDD;
  background: #F5F5F5;
  height: 100%;
}
.master-list-content {
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -ms-flexbox;
  display: flex;
}
//12248
.master-list-controls {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
//12254
.master-list-controls.panel {
  background: transparent;
}
//12257
.master-list-controls .panel-heading {
  padding: 0;
  height: 4.2rem;
}
//12268
.master-list-container {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex: 1 1;
  overflow: auto;
}
//12441
.ws-master-list-item {
  border-bottom: 1px solid #DDDDDD;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  box-shadow: inset -1px 0 0 0 #DDDDDD;
}
.ws-master-list-item .ws-master-list-text-wrapper {
  padding-left: 1.5rem;
  width: calc(100% - 5rem);
}
//12453
.ws-master-list-item .ws-master-list-text-wrapper h4.ws-master-list-item-heading {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  padding-bottom: .4rem;
}
.ws-master-list-item .ws-master-list-text-wrapper p {
  margin-bottom: 1px;
  font-size: 1.3rem;
}
//12441
.ws-master-list-item {
  border-bottom: 1px solid #DDDDDD;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  box-shadow: inset -1px 0 0 0 #DDDDDD;
}
//12466
.ws-master-list-item.active {
  background-color: #FFFFFF;
  border-bottom: none;
  box-shadow: inset 0 -3px 0 0 #1D86B8, 1px 0 0 0 #FFFFFF;
  cursor: default;
}
.ws-master-list-item.active:hover {
  background-color: #FFFFFF;
}
.ws-master-list-item:hover {
  background-color: #FAFAFA;
}
.ws-master-list-item:focus {
  outline: none;
}
.ws-master-list-item-text {
  padding: .5rem 0;
}
//12491
.ws-action-bar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  font-size: 1.4rem;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 4.3rem;
  box-shadow: inset -1px 0 0 0 #3E97C7, inset -2px 0 0 0 #136A99;
  padding: 0;
  min-height: 4.3rem;
}
//12507
.ws-dots {
  float: right;
  width: 23px;
}
//12522
.ws-action-item,
.ws-action-item-right {
  min-height: 4.3rem;
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 0 calc(1.5rem + 2px) 0 1.5rem;
  background: #1D86B8;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  box-shadow: inset -1px 0 0 0 #3E97C7, inset -2px 0 0 0 #136A99;
}
.ws-action-item:last-of-type,
.ws-action-item-right:last-of-type {
  box-shadow: none;
  width: 5rem;
}
.ws-action-item:last-of-type .fa,
.ws-action-item-right:last-of-type .fa {
  font-size: 2.3rem;
  left: 1.4rem;
  position: absolute;
  top: 1.1rem;
}
//12621
.ws-action-spacer {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex: 1 1;
}
.ws-non-action-item {
  position: relative;
  margin: 0;
  padding: 0 calc(4rem) 0 2rem;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex: 1 1;
}
//15023
.ws-panel {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex: 1 1;
  display: block;
  background: transparent;
  margin-bottom: 1rem;
  padding: 1.5rem;
  position: relative;
}
//15617
.panel-media-container {
  display: -ms-flexbox;
  display: flex;
}
.panel-media-container .panel-media {
  padding-top: 1.5rem;
  padding-left: 2rem;
  width: 11rem;
  overflow: hidden;
  position: relative;
}
//15628
.panel-media-container .panel {
  width: 100%;
}
//15643
.panel {
  background: #F5F5F5;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
}
//15650
.panel > .panel-heading {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: #333333;
  border-color: transparent;
}
//15700
.panel .panel:not(:last-child) {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
//15708
.panel-title, .section-title {
  color: #333333;
}
//15769
.panel-title, .section-title {
  font-size: 1.8rem;
  font-weight: 500;
}
//15814
.panel.panel-compact {
  margin: 0;
  padding: 0;
}
//15818
.panel.panel-compact > .panel-heading {
  margin-left: 1rem;
}
//15990
.contact-image-donut {
  border-radius: 50%;
}
.contact-image {
  border-radius: 50%;
  background: #F5F5F5;
}
.contact-initials {
  border-radius: 50%;
  text-align: center;
  color: #333333;
}
//16084
.contact-image-donut-50 .contact-image-donut .contact-image {
  width: 5rem;
  height: 5rem;
  border: 2px solid #C7C7C7;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: left;
  justify-content: left;
}
.contact-image-donut-50 .contact-image-donut .contact-initials {
  line-height: 5rem;
  height: 5rem;
  width: calc(5rem - 2px);
  text-align: center;
  font-size: 2.3rem;
  overflow: hidden;
  background-color: transparent;
  color: #333333;
}
//16324
.master-list-content {
  width: 24.4rem;
  position: relative;
  height: 100%;
  transition: all 0.2s cubic-bezier(0.8, 0, 0.2, 1);
}
//17290
.app-content-body, .sales-opportunity-body {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background-color: #FFFFFF;
  display: -ms-flexbox;
  display: flex;
}

.customer-summary-bar {

  position: relative;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  font-size: 1.4rem;
  background-color: #333333;
  color: #FFFFFF;
  padding: 1rem 2rem;
  width: 100%;
}
.customer-summary-item {
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 0 calc(1.5rem + 2px) 0 1.5rem;

  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;

}
